
body
{
    background-color: black;
    color: white;       
    margin: 0;
    padding-top: 30px;
}
.p{
    text-align: center;
    font-size: 50px;
}
#cochecarrera
{
animation: carrera 3s linear infinite;
width: 30%;
position: absolute;
}
@keyframes carrera
{
    from{left: 100%;}
    to{left: -30%;}
}
