body
{
    background-color: black;
    color: white;       
    margin: 0;
    padding-top: 30px;
}
.p{
    text-align: center;
    font-size: 50px;
}
table{
   width: 100%; 
   height: 300px;
   border: 1px white;
   border-collapse: collapse;
   border: 2px solid white;
}
th {
    border: 1px solid white;
    padding: 8px;
     font-weight: normal;
}
#cochecarrera
{
animation: carrera 3s linear infinite;
width: 30%;
position: absolute;
}
@keyframes carrera
{
    from{left: 100%;}
    to{left: -30%;}
}
