body
{
    background-color: black;
    color: white;       
    margin: 0;
    padding-top: 30px;
}

fieldset{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
    width: 40%;
    margin: 50px auto;
    background-color: black;
    top:50px;
    margin-top: 4%;
}
input{
    text-align: center;
}
label {
    display: block;
    text-align: center;
}
div{
    text-align: center;
}
#logo2 {
    position: absolute;
    width: 200px;
    margin-top: 10%;
}
body{
    background-image: url('../3.FOTOS/FORMULARIO/fondoFormulario.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
textarea {
    resize: none;
}
#logo2{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    animation: logo2 2s linear infinite;
}
@keyframes logo2{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

