a {
    text-decoration: none;
    color: grey;
    transition: all 0.3s ease;
}

div
{
text-align: center;
}
#menudesplegable {
    position: relative;
    display: flex;
    gap: 0px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

#el1, #el2, #el3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    background-color: black;
    position: relative;
}

#menudesplegable li a:hover {
    color: rgb(66, 65, 65);
    text-shadow:0 0 5px
    rgb(197, 195, 195),
    rgb(197, 195, 195),
    rgb(197, 195, 195);
    background-color: 0 0 5px lightgrey;
}

.submenu, .submenu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    min-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu li, .submenu2 li {
    padding: 8px 12px;
    transition: 0.3s;
    text-shadow: none;
}

.submenu li:hover, .submenu2 li:hover {
    background-color: rgb(34, 33, 33);
    box-shadow: 0 0 5px lightgrey;
    text-shadow: none;
}

#el2:hover .submenu,
#el3:hover .submenu2 {
    display: block;
}

#logo {
    display: flex;
    margin: 0 auto;
    width: 150px;
    margin-bottom: -3%;
}
#cabecera{
border-bottom: 1px solid white;
background-color: black;
position: fixed; 
z-index: 999;
top: 0;
left: 0;
width: 100%;
padding: 20px 0;
}

