body
{
    background-color: black;
    color: white;       
    margin: 0;
    padding-top: 0px;
}
#berlina
{
    position: absolute;
    color: white;
    top: 55%;
    left: 30%;
    z-index: 3;
}
#A
{
    position: absolute;
    color: white;
    top: 90%;
    left: 73%;
    z-index: 1;
}
#principal {
    margin-top: 3%;
    display: block; 
    width: 100%;
    max-width: 100vw;
    height: auto;
}
.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
#totalPequeno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.contenedor{
    position: relative;
    display: block;
    margin: 1%;
}
.contenedor-pequeno {
    position: relative;
}
#claseS
{
    width: 1000px;
    max-width: 90vw;
    border-radius: 5px;
    margin-bottom: 60px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#GLC {
    width: 350px;
    max-width: 90vw;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#EQA {
    width: 350px;
    max-width: 90vw;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#clasea {
    width: 350px;
    max-width: 90vw;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
